@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>

    <link href="~/Areas/JJD/Content/css/mui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/JJD/Content/css/02.register&login/resetPass.css" />
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    </header>
    <form id="form1" action="/jiajudai/user/forgotpassword02" method="post">
        <div class='mui-content'>
            <p>请重置您的登录密码</p>
            <div class="ps">
                <img src="~/Areas/JJD/Content/images/02.register&login/u455.png" />
                <input autofocus type="password" name="newPassword" value="" placeholder="设置密码（6-18位数字或字母）" />
                <input type="hidden" name="username" value="@ViewBag.username " />
            </div>
            <div class="psag">
                <img src="~/Areas/JJD/Content/images/02.register&login/u455.png" />
                <input type="password" value="" placeholder="再次输入密码" />
            </div>
            <a id="btnResetPassword" class='mui-btn mui-btn-block'>确认重置</a>
        </div>
    </form>
    <script src="~/Areas/JJD/Content/js/mui.js"></script>
    <script src="~/Areas/JJD/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Areas/JJD/Content/js/02.register&login/resetPassword.js"></script>
    <script>
        var result = '@ViewBag.result';

        if (result == '密码修改成功') {
            mui.toast(result);

            window.location.href = '/jiajudai/login';
        } else {
            mui.toast(result);
        }
    </script>
</body>

</html>