@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>

    <link href="~/Areas/JJD/Content/css/mui.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/Areas/JJD/Content/css/02.register&login/prove.css" />
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    </header>
    <form id="form1" action="/jiajudai/user/forgotpassword01" method="post">
        <div class='mui-content'>
            <p>身份验证</p>
            <div class="num">
                <img src="~/Areas/JJD/Content/images/02.register&login/u363.png" />
                <input type="text" value="" name="phoneNo" placeholder="手机号码" />
            </div>
            <div class="degist">
                <img src="~/Areas/JJD/Content/images/02.register&login/u365.png" />
                <input type="text" value="" name="code" placeholder="验证码" />
                <span>获取验证码</span>
            </div>
            <a class='mui-btn mui-btn-block' id="btnNext">下一步</a>
        </div>
    </form>
    <script src="~/Areas/JJD/Content/js/mui.js"></script>
    <script src="~/Areas/JJD/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Areas/JJD/Content/js/02.register&login/preResetPassword.js"></script>
</body>

</html>