<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $().ready(function () {

        $('#btnLogin').click(function () {

            $.ajax({
                url: "/api/user",
                data: { userName: "admin", password: "123321" },
                datatype: "json",
                success: function (data) {
                    data = eval(data);
                    alert(data.Message);
                },
                error: function (arg1, arg2, arg3) {
                    alert(arg3);
                }
            });
        });


    });

</script>
<br />
<br />
<br />
<a id="btnLogin" class="btn btn-default">Login</a>