<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $().ready(function () {

        var data = {
            "UserName": "13962475261",
            "Password": "123456"
        };

        $('#btnLogin').click(function () {

            $.ajax({
                type:"get",
                url: "/api/User/login",
                data: data,
                success: function (data) {
                    data = eval(data);
                    alert(data.Message);
                },
                error: function (arg1, arg2, arg3) {
                    alert(arg3);
                }
            });
        });

    });

</script>

<br />
<br />
<br />
<br />
<br />
<a id="btnLogin" class="btn btn-default">登录</a>
