@model Ingenious.DTO.UserDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="bg-dark">
<head>
    <meta charset="utf-8" />
    <title>艾博软件CRM</title>
    <meta name="description" content="艾博软件CRM" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="~/Content/css/app.v2.css" type="text/css" />
    <!--[if lt IE 9]> <script src="="~/Scripts/js/ie/html5shiv.js" cache="false"></script> <script src="="~/Scripts/js/ie/respond.min.js" cache="false"></script> <script src="="~/Scripts/js/ie/excanvas.js" cache="false"></script> <![endif]-->
</head>
<body>
    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="container aside-xxl">
            <a class="navbar-brand block" href="#">艾博软件CRM</a>
            <section class="panel panel-default bg-white m-t-lg">
                <header class="panel-heading text-center"> <strong>登录</strong> </header>
                @*@Html.ValidationSummary(false)*@
                <form id="form1" action="/login" method="post" class="panel-body wrapper-lg">
                    <div class="form-group">
                        <label class="control-label">账号</label>
                        <input type="text" name="UserName" id="UserName" value="admin" placeholder="请输入您的账号" class="form-control input-lg">
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">密码</label>
                        <input type="password" id="Password" name="Password" value="123321" placeholder="请输入您的密码" class="form-control input-lg">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="checkbox">
                            <label>
                                <input type="checkbox">
                                Keep me logged in
                            </label>
                        </div>*@
                    <a href="#" class="pull-right m-t-xs"><small>忘记密码?</small></a>
                    <button id="btnLogin" type="submit" class="btn btn-primary">登录系统</button>
                    
                </form>
            </section>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder" style="color:#fff;">
            <p>
                <small>
                    苏州艾博软件科技有限公司<br>
                    &copy; @(DateTime.Now.Year)
                </small>
            </p>
        </div>
    </footer>
    <!-- / footer --><!-- Bootstrap --> <!-- App -->
</body>
</html>
<style>
    .validation-summary-errors{
    }
</style>


<script>
    var error = '@ViewBag.ERROR';
    if (error != '') {
        alert(error);
    }

    btnLogin.click();

</script>
