body {
	font-family: Microsoft YaHei;
	background: #F2F2F2;
}

fieldset,
img {
	border: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none
}

* {
	margin: 0;
	padding: 0;
}

.mui-content {
	background: #fff;
}

header.mui-bar {
	background: #8763f7;
	-webkit-box-shadow: none;
	box-shadow: none;
}

header .mui-title,
header .mui-pull-left {
	color: #fff;
}
.last {
	font-style: normal;
	font-size: 16px;
	color: #999999;
	text-align: center;
	padding: 20px 0;
	background: #F2F2F2;
}
.search>div {
	border: 1px solid #D7D7D7;
	margin: 15px auto;
	width: 90%;
	border-radius: 3px;
}

.search {
	border-bottom: 13px solid #F2F2F2;
}

.search>div input {
	border: none;
	width: 70%;
	margin: 0;
	height: 45px;
}

.search>div span {
	float: right;
	margin-top: 11px;
	margin-right: 20px;
	color: #8763f7;
}

.progress {
	padding: 15px;
}

.progress>span {
	color: #999;
}

.progress ul {
	text-align: left;
	margin-top: 17px;
}

.progress ul li {
	text-align: center;
	width: 30%;
	display: inline-block;
	color: #666;
	border: 1px solid #bcbcbc;
	padding: 3% 5%;
	border-radius: 5px;
	margin-bottom: 12px;
	font-weight: 500;
}

.progress ul li:not(:last-child) {
	margin-right: 2%;
}

.progress li.active {
	border-color: #8763f7;
	color: #8763f7;
}

.dates li,
.manager li {
	border-top: 13px solid #F2F2F2;
}

.mui-table-view-cell>a:not(.mui-btn) {
	padding-left: 50px;
}

.dates li {
	background: url('../../images/10.xindaiManager/u8441.png') no-repeat 15px 50%;
}

.manager li {
	background: url('../../images/10.xindaiManager/u9568.png') no-repeat 15px 50%;
}

header span {
	float: right;
	color: #fff;
	height: 44px;
	line-height: 44px;
}

.mui-content>p {
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	font-size: 16px;
}

.dates li a span {
	display: inline-block;
	margin-left: 20px;
	color: #666;
}


/*分配订单*/

.allotOrder {
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 15px;
	display: none;
}

.allotOrder>div {
	background: #fff;
	width: 100%;
	height: 100%;
	position: relative;
}

.allotOrder div p {
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-bottom: 1px solid #bcbcbc;
	font-size: 16px;
	color: #8763f7;
}

.allotOrder div ul {
	width: 85%;
	margin: 0 auto;
	margin-top: 20px;
}

.allotOrder div ul li {
	display: inline-block;
	text-align: center;
	width: 45%;
	border: 1px solid #bcbcbc;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.allotOrder div ul li:nth-child(2n) {
	margin-left: 5%;
}

.allotOrder div ul li.active {
	color: #8763f7;
	background: url('../../images/11.order/u9974.png') no-repeat 100% 0;
	border: 1px solid #8763f7;
}

.alert div h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	font-size: 0;
	border-top: 1px solid #BCBCBC;
	margin: 0;
}

h1 a:first-child {
	border-right: 1px solid #BCBCBC;
	color: #999999;
}

h1 a {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-align: center;
	height: 100%;
	line-height: 50px;
}
.kind{
	border-top: 13px solid #F2F2F2;
}
.dates li {
	background: url('../../images/05.bankManager/u1912.png') no-repeat 15px 50%;
	background-size:  auto 70%;
}

.manager li {
	background: url(../../images/05.bankManager/u1938.png) no-repeat 15px 50%;
	background-size:  auto 70%;
}